Wrong pattern in matches_xs_any_uri:

Currently, the function `matches_xs_any_uri` links to RFC 3987 Internationalized Resource Identifiers (IRIs). 
However, it should link to RFC 2396 + RFC 2732 as in the xmlschema specified. 

This also means that the implemented pattern is wrong, as it implements the IRI and not URI syntax.

This needs to be adapted in `v3.py` and `v3_1.py`.